* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 20rem;
  margin: 10% auto 0;
  position: relative;
  width: 43rem;
}
.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}
.wrapper > input {
  display: none;
}
.slides {
  height: inherit;
  position: absolute;
  width: inherit;
}

.slide1 {
  background-image: url("2.jpg");
}
.slide2 {
  background-image: url("3.jpg");
}
.slide3 {
  background-image: url("4.jpg");
}
.slide4 {
  background-image: url("6.jpg");
}
.wrapper .controls {
  left: 92%;
  margin-left: -101px;
  position: absolute;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
}

.wrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}
.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: background ease-in-out 0.5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
  background: rgb(217, 187, 245);
}
.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

#slide1:checked ~ .slider > .title1,
#slide2:checked ~ .slider > .title2,
#slide3:checked ~ .slider > .title3,
#slide4:checked ~ .slider > .title4 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
